@media (max-width:600px) {
      body>.description_1 {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background: linear-gradient(135deg, #1e3a8a, #450a0a);
            height: 100%;
            width: 100%;
      }
      h1 {
            text-align: center;
            justify-content: center;
            align-items: center;
            align-content: center;
      }
}

@media (max-width:1024px) {
      body>.description_1 {
            display: flex;
            flex-direction: column;
            gap: 20px;
      }

      h1 {
            text-align: center;
            justify-content: center;
            align-items: center;
            align-content: center;
      }
}